{% load staticfiles %}
<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "home/css/materialize.min.css" %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      {% block head %}
      {% endblock %}
    </head>

    <body style="background-color:#EEEEEE;">
        <!-- Navbar -->
        <div class="navbar-fixed">
          <nav style="background-color: black;">
              <div class="nav-wrapper">
                <a href="{% url 'index' %}" class="brand-logo" style="padding: 5px;">Deep Learning {% block subtitle %}{% endblock %} </a> 
                <ul class="right hide-on-med-and-down">
                  <li><a href="">Codes</a></li>
                  <li><a href="">About Us</a></li>
                  <li><a href="">Contact Us</a></li>
                </ul>
              </div>
          </nav>
        </div>
        <!-- demo divs -->
        {% block demodiv %}
        {% endblock %}

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static "home/js/materialize.min.js" %}"></script>
    </body>
  </html>
        