{% extends "home/base.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block subtitle %}
{% endblock %}
{% block demodiv %}


          <div class="row">

              <!-- Demo 1: Object Recognition -->
              <div class="col s8 m4">
                <div class="card">
                  <div class="card-image">
                    <img src="{% static "home/images/object_detection.jpg" %}">
                    
                  </div>
                  <div class="card-content" >
                    <span class="card-title">Object Detection</span>
                    <p>Creating accurate machine learning models capable of localizing and identifying multiple 
                      objects in a single image remains a core challenge in computer vision. This demo is the example of the
                      tensorflow object detection api to detect the objects.</p>
                  </div>
                  <div class="card-action">
                    <a href="{% url 'object_detection' %}" class="waves-effect waves-light btn" style="background-color: black">Click Here for Demo</a>
                  </div>
                </div>
              </div>
              
          </div>

{% endblock %}
        