{% extends "home/base.html" %}
{% load staticfiles %}
{% block head %}
    <style>
        .progress {
        width:0%;
        height:20px;
        background:grey;
        
        }
        .bar {
        height:20px;
        width:100%;
        background:black;
        }
    </style>
{% endblock %}

{% block subtitle %}
    <font size="4">| Object Detection</font>
{% endblock %}

{% block demodiv %}
<div class="container" style="width: 80%;">
    <div style="outline: 3px solid black; margin-top:20px; padding:5px;">
        <div class="row">
            <div class="col s8">
                <h5>Output</h5>
            </div>
            <div class="col s4">
                <h5>Input</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s8">
                <img width="400px" height="300px" src="{% static "object_detection/images/object_detection.jpg" %}">
            </div>
            <div class="col s4">
                <!-- scrollable -->
                <div class="collection" style="margin:0px; overflow-y:scroll; height:300px;">
                            <a href="#!" class="collection-item">Image1</a>
                            <a href="#!" class="collection-item active">Image2</a>
                            <a href="#!" class="collection-item">Image3</a>
                            <a href="#!" class="collection-item">Image4</a>
                            <a href="#!" class="collection-item">Image1</a>
                            <a href="#!" class="collection-item">Image2</a>
                            <a href="#!" class="collection-item">Image3</a>
                            <a href="#!" class="collection-item">Image4</a>
                            <a href="#!" class="collection-item">Image1</a>
                            <a href="#!" class="collection-item">Image2</a>
                            <a href="#!" class="collection-item">Image3</a>
                </div>
                <br>
                <center>
                    <div>
                        <form id="frm" action="{% url 'object_detection' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" id="file" style="display:none;" />
                            <button type="button" onclick="thisFileUpload();" 
                            class="btn waves-effect waves-light" style="background-color:black;">
                                UPLOAD
                            </button>
                        </form>
                    </div>
                </center>
            </div>
        </div>
        
        <p class="progress_percentage"> Progress:</p>
        <div class="bar">
            <div class="progress">

            </div>
        </div>
    

    </div> <!-- closing box -->


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script>
    
        function thisFileUpload() {
                $("#file").click();
                $("#file").change(function(){
                    $("#frm").submit();
                });
            };
            
</script>

<!-- handling progress bar -->
 <script type="text/javascript">
    var poll_xhr;
    var willstop = 0;
    (function(){
    var poll = function(){
      var json_dump = "{{ data }}";
      var task_id = "{{task_id}}";
      console.log(task_id);
      poll_xhr = $.ajax({
        url:'{% url "od_poll_state" %}',
        type: 'POST',
        data: {
            task_id: task_id,
            csrfmiddlewaretoken: "{{csrf_token}}",
        },
        success: function(result) {
            console.log(result)
                    if (result.process_percent == null || result.process_percent == undefined) {
                        willstop = 1;
                       } 
                    else if (result.process_percent == 100) {
                        willstop = 1;
                        jQuery('.progress').css({'width': 100 + '%'});
                        jQuery('.progress_percentage').html('Progress: 100%');
                        // jquery to update the result data based on result.result_data passsed by get_task_status
                       } 
                    else {
                         jQuery('.progress').css({'width': result.process_percent + '%'});
                         jQuery('.progress_percentage').html('Progress: ' + result.process_percent + '%');
                       };
                    }
      });
    };
        var refreshIntervalId = setInterval(function() {
      poll();
      if(willstop == 1){
        clearInterval(refreshIntervalId);
      }
    },500);
   })();
 </script>

{% endblock %}
