{% extends "home/base.html" %}
{% load static %}
{% block head %}
    <style>
        .progress {
        width:0%;
        height:30px;
        background:yellow;
        
        }
        .bar {
        height:30px;
        width:100%;
        background:black;
        }
    </style>
{% endblock %}

{% block subtitle %}
    <font size="4">| Learn Fashion</font>
{% endblock %}

{% block demodiv %}
<div class="container" style="width: 80%;">
    <div style="outline: 3px solid black; margin-top:20px; padding:5px;">
        <div class="row">
            <div class="col s8">
                <h5>Output</h5>
            </div>
            <div class="col s4">
                <h5>Input</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s8">
                <img src="{% static "learn_fashion/images/learn_fashion.jpg" %}">
            </div>
            <div class="col s4">
                <!-- scrollable -->
                <div class="collection" style="margin:0px;">
                            <a href="#!" class="collection-item">Image1</a>
                            <a href="#!" class="collection-item active">Image2</a>
                            <a href="#!" class="collection-item">Image3</a>
                            <a href="#!" class="collection-item">Image4</a>
                            <a href="#!" class="collection-item">Image1</a>
                            <a href="#!" class="collection-item">Image2</a>
                            <a href="#!" class="collection-item">Image3</a>
                            <a href="#!" class="collection-item">Image4</a>
                            <a href="#!" class="collection-item">Image1</a>
                            <a href="#!" class="collection-item">Image2</a>
                            <a href="#!" class="collection-item">Image3</a>
                </div>
                <br>
                <center>
                    <div>
                        <a href="{% url 'learn_fashion' %}" class="waves-effect waves-light btn" style="background-color: black">Upload</a>
                    </div>
                </center>
            </div>
        </div>
        
        Progress: 
        <div class="status"></div>
                <div class="bar">
                    <div class="progress"></div>
                </div>
        </div>
    

    </div> <!-- closing box -->


</div>

           
{% endblock %}
